@import url("/node_modules/bootstrap/dist/css/bootstrap.min.css");
@import url("/node_modules/primereact/resources/themes/saga-green/theme.css");
@import url("/node_modules/primereact/resources/primereact.min.css");
@import url("/node_modules/primeicons/primeicons.css");
@import url("./pu.form.css");
@import url("./login.css");
@import url("./icofont.min.css");



.campaign-info{

}
.campaign-info ul{

}
.campaign-info li{
    float:left;
    list-style-type: none;
    margin:2px;
    display: inline;
}